<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Travail1_LinqToSQL.Properties.Settings.CompagnieXConnectionString"
            connectionString="Data Source=LAPTOP-LLUBEG3O\MSQLSERVEREXPRES;Initial Catalog=CompagnieX;Persist Security Info=True;User ID=Antony;Password=Antony2023"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>